<section id="cta" class="cta">
  <div class="container">
    <h3 class='text-center mb-4'><%= @user.username %>'s profile</h3>
    <%= render 'layouts/messages'%>
    <%= gravatar_for @user, size: 200 %>
    <h3 class="text-center mt-4">Articles</h3>
    <%= render 'articles/article' %>
  </div>
</section>
